:root {
	--main-font: 'Quicksand', sans-serif;
	--sec-font: 'Roboto Thin', sans-serif;
	--main-color: #ffb442;
	--sec-color: #d5ded5;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
	color: #fff;
	font-family: var(--main-font);
	margin: 0;
	padding: 0;
}

/*nav*/
/*nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 20px;
}

.logo-nav-items {
	height: 50px;
	width: 50px;
	background: url("img/Logo.png") no-repeat center center;
	background-size: cover;
	margin: 10px auto 10px 10px;
	padding: 10px;
}

.container-nav-items > ul {
	list-style: none;
	display: flex;
}

.nav-item { 
	margin: .5em;
}

.nav-item > a {
	color: var(--sec-color);
	text-decoration: none;
	text-transform: lowercase;
}

.nav-item > a:hover {
	color: var(--main-color);
}*/

/*@media only screen and (max-width: 700px) {
	.container-nav-items {
		display: none;
	}

	.logo-nav-items {
		margin: 0 auto;
		height: 5rem;
		width: 5rem;
	}
}*/
/*--------------------------*/

/*Landing*/
