:root {
	--font: 'Roboto', sans-serif;
	--bg-color: #0f1012;
	--main-color: #eb135b;
	--text-color: #f2f2f3;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: var(--font);
	letter-spacing: 2px;
}

/*-----navbar-----*/
.navbar {
	background: var(--bg-color);
	padding: 1rem 5rem;
}

@media (max-width: 768px) {
	.navbar {
		padding: 1rem;
	}
}

/*brand name*/
.navbar-brand {
	color: var(--main-color);
}

.navbar-brand:hover {
	color: var(--main-color);
}

/*toggler style*/
.navbar-toggler {
	border: none;
}

.navbar-toggler-icon {
	background-image: url("img/Toggler.svg")
}

/*nav lish style*/
.nav-item {
	padding-right: 2rem;
}

/*link style*/
.nav-link {
	color: var(--text-color);
	font-weight: lighter;
}

.nav-link:hover {
	color: var(--main-color);
}
/*--------------*/
/*landing*/
.section {
	height: 70vh;
}

.mycontainer {
	height: 100%;
}

.textBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.right-align {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imgBox {
	background-image: url("img/Portrait.png");
	background-size: contain;
	background-repeat: no-repeat;
}

@media (max-width: 768px) {
	.imgBox {
		order: 0;
		background-position: center;
		height: 50%;
	}

	.textBox {
		order: 1;
		align-items: center;
		text-align: center;
	}
}

/*text style*/
.mainText {
	font-size: 1.5rem;
	letter-spacing: 1px;
	font-weight: lighter;
	font-family: var(--font);
}

.hilightText {
	font-size: 2.3rem;
	letter-spacing: 2px;
	color: var(--main-color);
}

/*button*/
.btn {
	border: 1px solid var(--main-color);
	border-radius: 0;
	padding: .5rem 1rem;
	width: 50%;
	margin-right: 3em;
}

@media (max-width: 768px) {
	.btn {
		margin: 0 auto;
	}
}

.btn > a {
	font-weight: lighter;
	letter-spacing: 1px;
	color: var(--main-color);
}

/*button hover*/
.btn > a:hover {
	color: var(--bg-color);
	text-decoration: none;
}

.btn:hover {
	background: var(--main-color);
}
/*----------------------*/
/*work*/
/*paragraph*/
.textTwo, .textThree {
	padding-top: 5rem;
	text-align: center;
}

/*boxes with icons*/
.iconBox {
	height: 240px;
	width: 240px;
	border: 1px solid var(--main-color);
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.iconBox > p {
	text-align: center;
	font-family: var(--font);
	color: var(--main-color);
	font-size: 1.5rem;
	font-weight: lighter;
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1;
	/*text-transform: lowercase;*/
}

@media (max-width: 768px) {
	.iconBox {
		margin: 10px auto;
	}
}

/*the div with iconboxes*/
.mycontainerTwo {
	max-width: 740px;
}

.btn-center {
	display: block;
	margin: 10px auto;
	width: 10rem;
}

.hidden {
	visibility: hidden;
}

/*----------------*/
/*footer*/

.footer {
	margin-top: 3rem;
}

.footerText {
	font-size: .7rem;
	font-family: var(--font);
	text-align: center;
}
